
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.logo {
  display: flex;
  justify-content: center;

  &__image {
    width: 12rem;
    margin: 4rem;

    @include tablet {
      width: 15rem;
      margin: 4rem;
    }
  }
}
