
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.logo {
  display: flex;
  justify-content: center;
  

  &__image {
    width: 10rem;
    margin: 1rem;
    
    @include tablet {
      width: 12rem;
      margin: 2rem;
    }
  }
}
